body {
    background: #9198e5;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border: 0;
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
}

.btn-color {
    background: #5c44b3;
    color: #ffffff;
}

.btn-color:hover {
    background: #3e3ca7;
}

.btn-c-e {
    width: 102px;
}

.textview {
    border: 0;
    width: 206px;
    margin: 2px;
    font-size: 30px;
}